{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <!-- Liens CSS locaux -->
    <link rel="stylesheet" href="{% static 'assest/stylesheet/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assest/stylesheet/master.css' %}">
    <link rel="stylesheet" href="{% static 'assest/css/fontello.css' %}">

    <!-- Google Fonts (ne pas utiliser static ici) -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Lora&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <nav>
            <section>
                <div>
                    <figure><img src=" {% static 'assest/img/Art_Revivelogo.png' %}" alt=""></figure>
                </div>
                <section>
                    <div>
                        <div>
                            <div><i class="demo-icon icon-phone"></i></div>
                            <div>
                                <span>216 77143800 </span>
                                <span><a href="">ArtRevive@gmail.com</a></span>
                            </div>
                        </div>
                        <div>
                            <div><i class="demo-icon icon-location"></i></div>
                            <div>
                                <span>18, rue de l'Usine - ZI Charguia II Airport
                                    </span>
                                <span>2035 Ariana</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="">Explore</a>
                    </div>
                </section>
            </section>

        </nav>
    </header>
    <section class="menu">
        <section>
            <section>
                <ul>
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li><a href="">what's on</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'classify' %}">Classify</a></li>
                            <li><a href="">2d to 3D</a></li>
                            <li><a href="">Reconstruct</a></li>
                        </ul>
                    </li>
                    <li><a href="https://sites.google.com/view/our-site-pi-clb/">visit</a>
                    </li>
                    <li><a href="">about</a>
                        <ul class="dropdown">
                            <li><a href="">mission & history</a></li>
                            <li><a href="">on board & staff</a></li>
                            <li><a href="">career</a></li>
                            <li><a href="">sponsers</a></li>
                            <li><a href="">contact us</a></li>
                            <li><a href="">membership</a></li>
                            <li><a href="">donate</a></li>
                            <li><a href="">facility rental</a></li>
                            <li><a href="">career details</a></li>
                        </ul>
                    </li>
                    <li><a href="">collections</a>
                        <ul class="dropdown">
                            <li><a href="">collections type-1</a></li>
                            <li><a href="">collections type-2</a></li>
                            <li><a href="">single works</a></li>
                            <li><a href="">artists</a></li>
                            <li><a href="">single artist</a></li>
                        </ul>
                    </li>
                    <li><a href="">pages</a>
                        <ul class="dropdown">
                            <li><a href="">news</a></li>
                            <li><a href="">shop</a></li>
                            <li><a href="">image gallery</a></li>
                            <li><a href="">venues</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">my account</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <div><a href=""><i class="demo-icon icon-search"></i></a></div>
        </section>
    </section>
    <section id="banner">
        <section>
            <section>
                <div>
                    <h4>Welcome to ArtRevive</h4>
<h1>Where AI breathes new life into the past</h1>
<h1>Preserving heritage through innovation</h1>

                </div>
                <a href="">Explore </a>
            </section>
        </section>
        <section>
            <div>
                <p>Open 7/7 from 9:00 am - 6:00 pm </p>
                <a href="https://sites.google.com/view/our-site-pi-clb/">Visit us </a>
            </div>
            <div>
                <a href="">call: 216 77143800</a>
            </div>
        </section>
    </section>
    <br><br><br><br>
    <section class="about">
        <aside>
            <figure><img src=" {% static 'assest/img/img41.png' %}" alt=""></figure>
        </aside>
        <aside>
            <h2>about our Project</h2>
            <article>
                <p><strong>ArtRevive, developed by CodeGeas, a team of six passionate AI students,
                    is dedicated to preserving and revitalizing historical artworks through the power of artificial intelligence.
                </strong></p>
                <p>We combine cutting-edge technology with deep cultural appreciation to restore damaged pieces, 
                    classify authentic and AI-generated art, and raise awareness about heritage conservation.
                    With a focus on Tunisian and global art, our mission is to protect humanity’s artistic legacy while inspiring future generations.</p>
            </article>
            <a href="https://sites.google.com/view/our-site-pi-clb/" class="a-muzze" target="_blank">learn more</a>
        </aside>
        
    </section>
    <div class="on-view">
        <aside>
            <div>
                <h3>on view at museum</h3>
            </div>
            <div>
                <ul>
                    <li> middle eastern art</li>
                    <li> artifacts and antiquities</li>
                    <li> traditional art</li>
                    <li> western & non-western cultures</li>
                    <li> photograghy</li>
                    <li> emerging design</li>
                </ul>
                <ul>
                    <li> east asian art</li>
                    <li> war history</li>
                    <li> latin american art</li>
                    <li> gardens</li>
                    <li> 20th century design</li>
                    <li> contemporary design</li>
                </ul>
            </div>
        </aside>
    </div>
    <br><br><br><br><br><br>
    <section class="gallery">
        <h2>Some Amazing Arts</h2>
        <div>
            <div>
                <figure><img src="{% static 'assest/img/img49.jpg' %}" alt=""></figure>
                <div>
                    <div> <a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
            <div>
                <figure><img src="{% static 'assest/img/img47.jpg' %}" alt=""></figure>
                <div>
                    <div> <a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
            <div>
                <figure><img src="{% static 'assest/img/img46.jpg' %}" alt=""></figure>
                <div>
                    <div><a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
            <div>
                <figure><img src="{% static 'assest/img/img48.jpg' %}" alt=""></figure>
                <div>
                    <div> <a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <figure><img src="{% static 'assest/img/img51.jpg' %}" alt=""></figure>
                <div>
                    <div><a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
            <div>
                <figure><img src="{% static 'assest/img/img52.jpg' %}" alt=""></figure>
                <div>
                    <div><a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
            <div>
                <figure><img src=" {% static 'assest/img/img50.jpg'%}" alt=""></figure>
                <div>
                    <div><a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
            <div>
                <figure><img src="{% static 'assest/img/img53.jpg' %}" alt=""></figure>
                <div>
                    <div><a href=""><i class="demo-icon icon-search"></i></a></div>
                    <a href="">
                        <h3>germanian grothery</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br>
    <br><br>
<section class="locations">
    <h1>Our Three Objectives</h1>
    <div>
        <div>
            <figure><img src="{% static 'assest/img/img58.jpg' %}" alt="Classify Paintings"></figure>
            <div>
                <h4><a href="#">Classify Paintings</a></h4>
                <span>Identify whether an artwork is real or AI-generated</span>
                <span>Using CNN and Transformer-based models</span>
                <a href="#" class="a-muzze">Explore</a>
            </div>
        </div>
        <div>
            <figure><img src="{% static 'assest/img/img57.jpg' %}" alt="Reconstruct Monuments"></figure>
            <div>
                <h4><a href="#">Reconstruct Monuments</a></h4>
                <span>Restore damaged or lost heritage pieces</span>
                <span>With generative AI trained on historical data</span>
                <a href="#" class="a-muzze">Explore</a>
            </div>
        </div>
        <div>
            <figure><img src="{% static 'assest/img/img56.jpg' %}" alt="Transform to 3D"></figure>
            <div>
                <h4><a href="#">Transform 2D to 3D</a></h4>
                <span>Convert 2D artworks into 3D museum models</span>
                <span>For immersive and interactive experiences</span>
                <a href="#" class="a-muzze">Explore</a>
            </div>
        </div>
    </div>
</section>

    <br>
    <aside class="newsletter">
        <h3>subscribe newsletter</h3>
        <div>
             <input type="text" id="name" placeholder="Your Name">
            <input type="email" id="email" placeholder="Your Email Address">
        </div>
        <a href=""><input type="submit" value="sign up!"></a>
    </aside>
    <section class="upcoming">
        <h2>Developed by CodeGeas members</h2>
        <div>
            <div>
                <div>
                    <figure><img src="{% static 'assest/img/img42.jpg' %}" alt=""></figure>
                    <div>
                        <h5><a href="">Ahmed Aziz Ammar</a></h5>
                    </div>
                </div>
                <div>
                    <figure><img src="{% static 'assest/img/img42.jpg' %}" alt=""></figure>
                    <div>
                        <h5><a href="">Chaima Gabtni</a></h5>
                    </div>
                </div>
                <div>
                    <figure><img src="{% static 'assest/img/img42.jpg' %}" alt=""></figure>
                    <div>
                        <h5><a href="">Youssef Mejdi</a></h5>
                    </div>
                </div> 
            </div>
            <div>
                <div>
                    <figure><img src="{% static 'assest/img/img42.jpg' %}" alt=""></figure>
                    <div>
                        <h5><a href="">Mehdi ben Yehia</a></h5>
                    </div>
                </div>
                <div>
                    <figure><img src="{% static 'assest/img/img42.jpg' %}" alt=""></figure>
                    <div>
                        <h5><a href="">Aya Bessioud</a></h5>
                    </div>
                </div>  
                <div>
                    <figure><img src="{% static 'assest/img/img42.jpg' %}" alt=""></figure>
                    <div>
                        <h5><a href="">Wissal Belhaouane</a></h5>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </section>
    <br><br><br><br>
    <footer>
        <section>
            <figure><img src="{% static 'assest/img/Art_Revivelogo.png' %}" alt=""></figure>
            <ul>
                <li>
                    <h4>address</h4>
                </li>
                <li>
                    <address>18, rue de l'Usine - ZI Charguia II Airport
                        2035 Ariana</address>
                </li>
                <li><a href="">geting here</a></li>
            </ul>
            <ul>
                <li>
                    <h4>hours</h4>
                </li>
                <li>Daily 9.30 am-6.00 pm</li>
                <li>Café Service
                    <ul>
                        <li>Daily 10.00 am-7.00 pm</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <h4>contact us</h4>
                </li>
                <li><a href="">+216 77143800</a></li>
                <li><a href="">ArtRevive@gmail.com</a></li>
            </ul>
        </section>
        <section>
            <span><a href=""><i class="demo-icon icon-instagram"></i></a><a href=""><i
                        class="demo-icon icon-twitter"></i></a>
                <a href=""><i class="demo-icon icon-facebook"></i></a><a href=""><i class="demo-icon icon-pinterest"></i> </a></span>
            <span>Museum Template - Mad UX © 2020. All Rights Reserved</span>
            <span>pantea javadi 12 july 2022</span>
        </section>
    </footer>
    <br>
</body>

</html>